:root {
  --main-bg-color: #ffffff;
  --btn-text-color: #ffffff;
  --bold-text-colour: #212121;
  --not-bold-text-colour: #9b9faa;
  --accent-colour: #fc842d;
  --accent-bold-text-colour: #264061;
  --bg-modal-accent-colour: #264061;
  --duration-main: 250ms; //время для анимации текста
  --timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);
}
